.trelloContainer {
  display: flex;
  justify-content: flex-start;


  .listContainer {
    height: 800px;
    width: 250px;
    position: relative;
    border: 1px solid #ccc;
    margin-left: 10px;
  
    .listHeader {
      height: 50px;
      border-bottom: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }
  
    .deleteList {
      position: absolute;
      right: 10px;
      top: 15px;
      cursor: pointer;
    }
  
    .itemContainer {
      height: calc(100% - 80px);
      padding: 5px;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .draggableContainer {
        margin-bottom: 10px;
      }
    }

    .addCard {
      position: absolute;
      bottom: 10px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid #ccc;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      text-align: center;
    }
  }
}
